<div class="container">
    <div class="panel  panel-default">
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="repo in vm.repository" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <a href="{{repo.html_url}}" target="_blank">
                                    {{repo.name}}
                                </a>
                                <small>{{repo.description}}</small>
                            </h4>

                            <small>
                                <a href="{{repo.homepage}}" class="">
                                    <i class="fa fa-link"></i> WebPage
                                </a>
                            </small>
                        </div>
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>Ultima Atualização:</dt>
                                <dd>{{repo.updated_at | date : 'dd/MM/yyyy'}}</dd>
                                <dt>Criado:</dt>
                                <dd>{{repo.created_at| date : 'dd/MM/yyyy'}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>